%h1.title=t('.title')
%h2.alt=t('.amount', :amount => collection.size)

%table.tickets
  %thead
    %tr
      %th Name
      %th Description
      %th Status
      %th Created
      %th Updated
      %th{ :colspan => 2 }
  %tbody
    = render collection

= link_to t('tickets.new.title'), new_resource_path

